@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  font-family: "Kalam", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Kalam", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: #eee;
}
a {
  color: inherit;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  object-fit: contain !important;
}
#filled-basic1 {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}
.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
}
#but {
  animation: 1s linear infinite rotate-con;
}
@keyframes rotate-con {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b0bec5;
}

.story img {
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 3px;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading 4500ms ease-in-out infinite alternate;
}
@keyframes loading {
  100% {
    stroke: #cd476b;
    stroke-dasharray: 10;
    transform: rotate(200deg);
  }
}
@keyframes rotate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.rotate360 {
  animation: rotate 1s infinite;
}

/* CHat Css
 */
.spinner {
  --radius: 52.8;
  --size: 26.4;
  position: relative;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  margin: auto;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b0bec5;
  border-radius: 50%;
  transform: rotate(calc(var(--angle) * 1deg))
    translate(0, calc(var(--radius) * 0px));
  animation: spinner-19rk4d 2.0999999999999996s calc(var(--delay) * 1.68s)
    infinite ease;
}

.spinner div:nth-child(1) {
  --angle: 45;
  --delay: 0.13999999999999999;
}

.spinner div:nth-child(2) {
  --angle: 90;
  --delay: 0.27999999999999997;
}

.spinner div:nth-child(3) {
  --angle: 135;
  --delay: 0.42;
}

.spinner div:nth-child(4) {
  --angle: 180;
  --delay: 0.5599999999999999;
}

.spinner div:nth-child(5) {
  --angle: 225;
  --delay: 0.7;
}

.spinner div:nth-child(6) {
  --angle: 270;
  --delay: 0.84;
}

.spinner div:nth-child(7) {
  --angle: 315;
  --delay: 0.9799999999999999;
}

.spinner div:nth-child(8) {
  --angle: 360;
  --delay: 1.1199999999999999;
}

@keyframes spinner-19rk4d {
  0%,
  30%,
  50%,
  100% {
    transform: rotate(calc(var(--angle) * 1deg))
      translate(0, calc(var(--radius) * 0px)) scale(0);
  }

  40% {
    transform: rotate(calc(var(--angle) * 1deg))
      translate(0, calc(var(--radius) * 1px)) scale(1);
  }
}
